@import './colors';
$thumb-color: $warm-red;
@import 'node_modules/input-range-scss/_inputrange';

footer {
  margin-left: 250px;
  #timeline {
    width: 100%;
    opacity: 1;
    &:disabled {
      opacity: 0;
    }
  }
}
